.header--utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 4em;
}

.header--utils--title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #141414;
}

.header--utils--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.header--utils--buttons > a {
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ffffff;
  padding-bottom: 0.5em;
}

.header--utils--buttons > a:hover {
  cursor: pointer;
  border-bottom: 1px solid #444444;
}

.header--utils--buttons > a:active {
  color: #3575e2;
  border-bottom: 1px solid #3575e2;
}

.header--utils--login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.header--dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 4em;
  gap: 2.5em;
}

.header--dashboard--title {
  width: 100%;
  max-width: 1312px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header--dashboard--title > h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 150%;
}

.header--dashboard--title > h1 > span {
  color: #3575e2;
}

.header--dashboard--title > h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.header--dashboard--tools {
  width: 100%;
  max-width: 1312px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--dashboard--search {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  border: 1px solid #f0f0f0;
}

.header--dashboard--search > input {
  width: 100%;
}

.header--dashboard--search--job {
  width: 100%;
  max-width: 733px;
  border-radius: 4px 0px 0px 4px;
}

.header--dashboard--search--location {
  width: 100%;
  max-width: 345px;
}

.header--dashboard--tools--button {
  height: 42px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Elementos */
/* Botoes */

.button {
  width: fit-content;
  padding: 0.5em 1.75em;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #cccccc;
}

.button--primary {
  border: 1px solid rgba(20, 20, 20, 0.1);
  color: #141414;
  background-color: #ffffff;
}

.button--primary:active {
  border: 1px solid rgba(138, 138, 138, 0.1);
  color: #141414;
  background-color: #f0f0f0;
}

.button--secondary {
  background-color: #3575e2;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button--secondary:active {
  background-color: #234b91;
  color: #ffffff;
  border: 1px solid #ffffff;
}
